@import url('https://fonts.googleapis.com/css?family=Aldrich|Kanit|Michroma|Orbitron|Play');

body{
    background:url('../images/lc_background.jpg');
	background-repeat: cover;
	font-family: Play, Kanit, Orbitron, Michroma, Aldrich, sans-serif;
	color: #00eaff;
	padding: 1%;
}

button, input[type=button]{
	border: 2px solid #00a8ff;
	border-radius: 6px;
}

input, textarea {
	border: 3px solid #00a8ff;
	border-radius: 6px;
}

h1 {
    text-align: left;
	font-size: 5em;
	color: #26b4ca;
}

h2 {
    text-align: left;
	font-size: 2em;
}

h3 {
    text-align: left;
	font-size: 1.5em;
	font-family:  Michroma, Aldrich, sans-serif;
	color: #00eaff; 
}

h4 {
	text-align: left;
	font-size: 1.2em;
	font-family :  Michroma, Aldrich, sans-serif;
	color: #669999;
}

p {
    text-align: left;
	font-family: Kanit, Aldrich, sans-serif;
	font-size: 1em;
	color: rgb(207, 242, 248);
}

ol {
    text-align: left;
	font-family: Kanit, Aldrich, sans-serif;
	font-size: 1em;
	color: rgb(207, 242, 248);
}

ul {
    text-align: left;
	font-family: Kanit, Aldrich, sans-serif;
	font-size: 1em;
	color: rgb(207, 242, 248);
}

a:link {
    color: rgb(235, 189, 64);
	text-decoration:  underline;
	 
}

a:active {
    color: maroon;
	text-decoration:  underline;
	 
}

a:visited {
    color: #00a8ff;
	text-decoration:  underline;
	 
}

a:hover {
	color:  white;
	background-color:black;
	text-decoration:  none;
}

table {
	background: rgba(0,0,0,.6);
    text-align: left;
	font-family: Orbitron, sans-serif;
	font-size: 1em;
	color: rgb(207, 242, 248);
	border: 2px solid #00a8ff;
	border-collapse: collapse;
	padding:  15px 15px 15px 15px;
	
}

th {
	border: 1px solid #00a8ff;
	padding: 6px;
	font-weight: bold;
}

td {
    height: 40px;
	font-family: Kanit, Aldrich, sans-serif;
	font-size: 1em;
	border: 1px solid #00a8ff;
	padding: 6px;
	color: rgb(207, 242, 248);
}

#blue:first-line {
    font-weight: bold;
	color: #00a8ff;
	
}

#big:first-letter {
    font-size: 2em;
	float: left;
	 
}

hr {
    height: 4;
	color: #00a8ff;;
	background-color: #00eaff;
	
}

.moreResponsiveH {
    text-align: left;
	font-size: 10vmin;
	color: #26b4ca;
}

.num_replies_col {
	text-align: center;
}

.yellowy {
    color: rgb(235, 189, 64);	 
}

#palette{
	color: #00a8ff;
	color: #00eaff; 
	color: #26b4ca; 
	color: #59b4c7;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;} /* decreases padding-top for mobile */
	.sidenav a {font-size: 18px;} /* decreases link font-size for mobile */
	#noOverlap { display: hidden; }
/* For mobile phones: */
[class*="col-"] {
    width: 100%; /* this is being overridden in tablet and desktop */
    float: left; /* setting defaults for everything including tablet and desktop */
    padding: 15px; /* setting defaults for everything including tablet and desktop */
}

@media only screen and (min-width: 600px) {
/* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
/* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body {
        max-width:1920px;
	}

}